@use 'mixins' as *;

.cds-meta {
	border-bottom: 3px solid $orange;
	padding-block: 2rem;

	h2 {
		color: $teal;
	}

	p {
		color: $black;
		font: 14px $int;
	}

	+ .img-copy {
		border-bottom: 3px solid $orange;

		@include md {
			padding-block: 4rem;
		}
	}
}
