@use 'mixins' as *;

.challenges {
	@include metaBoxes();

	.note {
		p {
			color: $orange;
			font-size: 22px;
			font-weight: 500;
		}
	}

	.bod-start {
		@include tab-mob {
			border-top: 1px solid $teal;

			&:last-child {
				border-bottom: 1px solid $teal;
			}
		}

		@include lg {
			+ .bod-start {
				border-left: 1px solid $teal;
			}
		}
	}
}
