@use 'mixins' as *;

.challenges {
	@include metaBoxes();

	.note {
		p {
			color: $orange;
			font-weight: 500;
			font-size: 22px;
		}
	}

	.bod-start {
		+ .bod-start {
			border-left: 1px solid $teal;
		}
	}
}
