@use 'mixins' as *;

a,
.cta {
	transition: $transition-base;
}

.sec {
	padding-block: 3rem;

	@include md {
		padding-block: 5rem;
	}

	@include xxl {
		padding-block: 8rem;
	}
}

.heading {
	h2 {
		color: $teal;
		font: 700 16px/1.5 $int;
	}

	h3 {
		color: $orange;
		font: 600 40px/1.5 $jos;
	}

	p {
		color: $dark;
		font: 18px/1.5 $jos;
	}
}

@include md {
	.h-md-100 {
		height: 100%;
	}
}

.cta {
	font: 700 14px $mon;

	&:hover {
		transform: scale(1.03);
	}

	@include lg {
		font-size: 12px;
	}

	@include xxl {
		font-size: 14px;
	}

	&.brand {
		background: #739dd2;
		border: 1px solid #739dd2;
		color: #fff !important;

		&:hover {
			background: #fff;
			border: 1px solid #739dd2;
			color: #739dd2 !important;
		}
	}

	&.orange {
		background: $orange;
		border: 1px solid $orange;
		color: $white !important;

		&:hover {
			background: $white;
			border: 1px solid $orange;
			color: $orange !important;
		}
	}
}

.container {
	@include max($bp-xl - 1) {
		max-width: 100%;
	}

	@include xxl {
		max-width: 1520px;
	}
}

.container-fluid {
	&.wide {
		padding-inline: 5rem;
	}
}

.container1254 {
	max-width: 1024px;

	@include xxl {
		max-width: 1254px;
	}
}

.container1024 {
	@include xl {
		max-width: 1024px;
	}
}

.img-neg-mob {
	@include mob {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

.video-wrap {
	max-width: 100%;
	position: relative;

	.holder {
		opacity: 0;
		pointer-events: none;
		user-select: none;
		visibility: hidden;
	}

	iframe {
		@include absolute-fill;
	}
}

.g-map {
	@include aspect-box(60%);

	iframe {
		@include absolute-fill;
	}
}

.img-copy {
	border-bottom: 3px solid $orange;

	@include md {
		padding-block: 4rem;
	}

	h2 {
		color: $orange;
		font: 500 22px/1.5 $int;
	}

	p {
		font: 18px/1.5 $int;
	}

	.cta {
		font: 600 16px $int;

		+ .cta {
			margin-left: 2rem;
		}
	}
}
