@use 'mixins' as *;

.hero {
	isolation: isolate;
	padding-inline: 8rem;
	position: relative;

	&__bg-img {
		@include absolute-fill;
		z-index: -1;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&--home {
		.hero__wrap {
			max-width: 615px;
			min-height: 448px;
		}
	}

	&__wrap {
		background: #fff;
		padding: 5rem 2rem 2.5rem;
		width: 100%;
	}

	.logo {
		margin-bottom: 2rem;
	}

	h1 {
		color: #739dd2;
		font: 700 16px $int;
	}

	h2 {
		color: #ff743e;
		font: 500 40px/1.25 $jos;
	}
}
