@use 'mixins' as *;

.hero:not(.hero--has-note) {
	@include md {
		padding-inline: 8rem;
	}
}

.hero {
	@include md {
		isolation: isolate;
		position: relative;

		&__banner {
			padding-inline: 8rem;
		}

		&__bg-img {
			@include absolute-fill;
			z-index: -1;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		&--home {
			.hero__wrap {
				max-width: 615px;
				min-height: 448px;
			}
		}
	}

	&__wrap {
		background: #fff;
		max-width: 565px;
		padding: 3rem 1.5rem 2rem;
		width: 100%;

		@include md {
			padding: 5rem 2rem 2.5rem;
		}
	}

	&__note {
		.icon {
			background: #d9d9d9;
			flex: 0 0 32px;
			height: 32px;
			width: 32px;
		}

		strong {
			color: $orange;
		}
	}

	.logo {
		margin-bottom: 2rem;

		@include mob {
			img {
				height: auto;
				width: 160px;
			}
		}
	}

	h1 {
		color: #739dd2;
		font: 700 16px $int;
	}

	h2 {
		color: #ff743e;
		font-weight: 600;
		line-height: 1.25;
	}
}
