@use 'mixins' as *;

.hording {
	@include md {
		isolation: isolate;
		padding-inline: 8rem;
		position: relative;

		&__bg-img {
			@include absolute-fill;
			z-index: -1;

			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__wrap {
		background: #fff;
		max-width: 545px;
		padding: 3rem 1.5rem 2rem;
		width: 100%;

		@include md {
			min-height: 375px;
			padding: 5rem 2rem 2.5rem;
		}
	}

	.logo {
		margin-bottom: 2rem;
	}

	h2 {
		color: #ff743e;
		font-weight: 600;
		line-height: 1.25;
	}

	p {
		color: #3f3f3f;

		@include md {
			font-size: 18px;
		}
	}

	.cta {
		font-weight: 600;

		@include md {
			font-size: 18px;
		}
	}
}
