@use 'mixins' as *;

.img-copy {
	background: #fdfbf9;

	h2 {
		color: $orange;
	}

	@include md {
		p {
			font: 18px/1.5 $int;
		}
	}

	.cta {
		font: 600 16px $int;

		@include lg {
			+ .cta {
				margin-left: 2rem;
			}
		}
	}
}
