@use 'mixins' as *;

.our-mission {
	@include imgCoverBg();
	padding-block: 3rem;

	.saying {
		p {
			color: #787878;
			font: italic 500 18px/1.5 $jos;

			@include md {
				font-size: 20px;
			}
		}

		.name {
			font-style: normal;
		}
	}
}
