@use 'mixins' as *;

.our-help {
	isolation: isolate;
	position: relative;

	&__head {
		background: #f6f6f6;
		left: 0;
		padding-block: 1.25rem;
		position: sticky;
		top: 0;
		width: 100%;

		h2 {
			color: $teal;
			font: 700 16px/1.5 $int;
		}
	}

	&__list {
		@include tab-mob {
			isolation: isolate;
			position: relative;
		}

		.select-help {
			@include tab-mob {
				background: $white;
				border: 1px solid $orange;
				color: $dark;
				cursor: pointer;
				font: 500 18px/1.5 $int;
				padding: 0.75rem;
			}

			.icon {
				color: $orange;
				transition: transform 0.25s ease;
			}

			&.clicked .icon {
				transform: rotate(180deg);
			}
		}

		.select-help-option {
			@include tab-mob {
				background: $white;
				border: 1px solid $orange;
				border-top: 0 none;
				left: 0;
				padding-block: 0.5rem;
				position: absolute;
				top: 100%;
				width: 100%;
			}

			@include lg {
				gap: 0.5rem;
			}

			.bar {
				color: $orange;
			}

			a {
				color: $dark;
				font: 500 18px $int;

				@include tab-mob {
					margin-block: 0.75rem;
					text-decoration: none;
				}

				&:hover,
				&.active {
					color: $teal;
				}
			}
		}
	}

	.row-help-detail {
		padding-block: 2.5rem;

		.head {
			.icon {
				flex: 0 0 44px;
				height: 44px;
				margin-right: 1.25rem;
				width: 44px;

				img {
					max-height: 100%;
					max-width: 100%;
				}
			}

			h2 {
				color: $orange;
				font-size: 28px;
			}
		}

		&:nth-child(even) {
			background: $light;
		}
	}
}

html:has(.our-help) {
	scroll-padding-top: 140px;

	@include md {
		scroll-padding-top: 150px;
	}

	@include xxl {
		scroll-padding-top: 120px;
	}
}
