@use 'mixins' as *;

h2,
.h2 {
	color: $teal;
	font: 32px $jos;

	@include md {
		font-size: 40px;
	}
}

h3,
.h3 {
	color: $orange;
	font: 500 18px/1.5 $int;

	@include md {
		font-size: 22px;
	}
}

p,
.p,
li {
	color: $dark;
	font: 16px/1.5 $int;
	letter-spacing: 1px;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}
