@use 'mixins' as *;

.what-we-do {
	@include imgCoverBg();
	background: #fdfbf9;
	padding-block: 3rem;

	.bod-end {
		border-right: 1px solid $teal;
	}

	.services {
		.service-name {
			.inner {
				cursor: pointer;

				&:hover {
					.name {
						color: #000;
					}
				}
			}

			.num {
				color: $teal;
				font: 24px/1 $jos;
				padding-right: 0.625rem;
			}

			.name {
				color: #3f3f3f;
				font: 500 16px/1 $int;
			}

			&.active {
				.inner {
					border-left: 4px solid $teal;

					.num {
						padding-left: 0.625rem;
					}

					.name {
						color: #000;
						font-weight: 700;
					}
				}
			}

			.service-chevron {
				color: $orange;
				transition: transform 0.3s ease;
			}

			+ .service-name {
				border-top: 1px solid $teal;
			}
		}

		.service-wrap {
			@include tab-mob {
				border-bottom: 1px solid $teal;
				padding-block: 1.25rem;

				&:first-child {
					border-top: 1px solid $teal;
				}
			}

			@include lg {
				display: none;
			}

			.service-text {
				@include tab-mob {
					display: flex;
					max-height: 0;
					opacity: 0;
					overflow: hidden;

					transition:
						max-height 0.4s ease,
						opacity 0.3s ease;
				}

				.icon {
					flex: 0 0 64px;
					height: 64px;
					width: 64px;

					@include lg {
						flex: 0 0 92px;
						height: 92px;
						width: 92px;
					}

					img {
						height: 100%;
						width: 100%;
					}
				}
			}

			h2 {
				color: $orange;
				font-size: 28px;
				font-weight: 600;
			}

			p {
				color: #3f3f3f;
			}

			&.active {
				display: block;

				@include tab-mob {
					.service-name {
						.name {
							color: #000;
							font-weight: 700;
						}

						.service-chevron {
							transform: rotate(180deg);
						}
					}

					.service-text {
						max-height: 1000px;
						opacity: 1;
					}
				}
			}
		}
	}
}
